<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Landmark Architecture</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
       <a class="nav-link" href="/"><span class="glyphicon glyphicon-home "></span> Home</a>

        <a class="nav-link" href="/campgrounds">Architecture</a>
        <a class="nav-link" href="/campgrounds/new">New Architecture</a>
      </div>
    </div>
    <div class="navbar-nav ml-auto">
      <% if(!currentUser) {%>
      <a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a>
      <a class="nav-link" href="/register"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Sign Up</a>
      <% } else {%>
      <a class="nav-link" href="/logout">Logout</a>
      <% } %>
    </div>
  </div>
</nav>
